.card {
    background: pds-color($pds-color-primary, '200');
    display: inline-block;
    padding: $pad $pad / 2;
    text-decoration: none;
    color: pds-color($pds-color-primary, '600');
    min-width: $pad * 21;
    margin: $pad;
    border-radius: 4px;
  // padding: .445rem .875rem;


  @include mq(S) {
        padding: $pad * 2.5;
  }

  &:hover {
    background-color: pds-color($pds-color-primary, '100');
  }

  &:focus {
    background-color: pds-color($pds-color-primary, '300');
  }

    span {
        display: block;
    }

    h4 {
        color: pds-color($pds-color-primary, '600');
        font-weight: 300;
    }

    p {
        color: $pds-type-color-primary;
    }

    &__icon {
        // font-size: 90px;
        color: pds-color($pds-color-secondary, '500');

        i {
            font-size: 90px;
        }
    }
}