.checkbox {    
    height: 18px;
    width: 18px;    
    border: 2px solid #707375;
    border-radius: 3px;
    cursor: pointer;

    display: inline-block;
    position: relative;
    
    
    & > input {
      display: none;
    }
    
    span {

      opacity: 0;
      transition: opacity 0.3s;

      color: #fff;
      background-color: #707375;      
      border-radius: 3px;
      border: 2px solid #707375;
      height: 18px;
      width: 18px;

      position: absolute;
      top: -2px;
      left: -2px;

      display: flex;
      justify-content: center;
      align-items: center;

      text-align: center;

      &::before {
        content: "X";
        font-size: 14px;
      }
    }
    
    :checked + span {
      opacity: 1;
    }
  }