//  Container styles
.container {
  display: block;
  margin: 0 auto;
  padding: 0 $pad;
  width: 100%;
  max-width: #{$max-width + 'rem'};

  &--padded {
    max-width: #{$max-width / 2 + 'rem'};
    margin: 0 auto;

    form {
      width: 100%;
    }
  }
}