
.draft-message-drawer {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;

    &__details {
        color: $white;
        font-size: 20px;
        font-size: 1.25rem;
        font-weight: 500;
        width: 85%;
        padding-right: 20px;  
        
        @include mq(1300, 'max-width') {
            width: 80%;
        } 

        @include mq(1000, 'max-width') {
            width: 70%;
        } 

        @include mq(750, 'max-width') {
            font-size: 18px;
            font-size: 1.125rem;
        }
        
        @include mq(600, 'max-width') {
            width: 65%;
            font-size: 16px;
            font-size: 1rem;
        } 

        span {color: $white;}

        h4 {          
            font-size: 24px;
            font-size: 1.5rem;
            line-height: 28px;
            line-height: 1.75rem;
            margin-bottom: 1.0625rem;
            color: $white;

            @include mq(750, 'max-width') {
                font-size: 22px;
                font-size: 1.375rem;
            }

            @include mq(600, 'max-width') {
                font-size: 18px;
                font-size: 1.125rem;
            }

            strong { font-weight: 500; }
        }        
    }

    &__heading {
        width: 100%;
    
        overflow: hidden;    
        white-space: nowrap !important;
        text-overflow: ellipsis !important;
    }

    &__options {
        width: 15%;   
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
        @include mq(1300, 'max-width') {
            width: 20%;
        } 

        @include mq(1000, 'max-width') {
            width: 30%;
        } 

        @include mq(600, 'max-width') {
            width: 35%;
        } 
        
        
        a {
            white-space: nowrap;

            @include mq(600, 'max-width') {
                font-size: 12px;
                font-size: 0.75rem;
            } 
        }
    }
}
