.hint {
  @extend h4;

  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: hint;
  flex-grow: 1;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding: 0;
  color: pds-color($pds-color-primary, '500');
  font-weight: 300;
  padding-left: 0 $pad;
  padding-top: $pad * 2;

  @include mq(S, 'max-width') {
    background: pds-type-weight($pds-type-color-primary, 'dark', 'high');
    color: $white;
    position: fixed;
    bottom: 0;
    padding: $pad;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    width: 100%;
  }

  label {
    float: right;
    padding: $pad 0;
    @extend .button;
    @extend .button--transparent;
    @extend .button--small;

    @include mq(S) {
      display: none;
    }
  }
}

#snackbar {
  display: none;
}

#snackbar:checked ~ .hint {
  display: none;

  @include mq(S) {
    display: block;
  }
}

.action {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: action;
  flex-grow: 1;
  margin: 0;
  padding: 0 $pad;

  form {
      width: 100%;
  }
}