// link styles
.link {
  border: none;
  outline: none;
  background-color: transparent;
  color: pds-color($pds-color-primary, '500');
  text-transform: inherit;
  letter-spacing: 0;
  font-size: inherit;
  padding: $pad $pad * 2;

  &:hover,
  &:active,
  &:focus {
    color: pds-color($pds-color-primary, '500');
  }

  .app-footer & {
      text-decoration: none;
      padding: 0;
      white-space: nowrap;

      &:hover, :focus {
        text-decoration: underline;
      }
  }
}