// response-box styles

.response {
  &__chart {
    position: relative;
    display: inline-block;
    width: 100%;
    float: left;
    text-align: center;

    @media (min-width: $smallBreakpoint) {
      width: 25%;
    }
  }

  &__responses {
    position: relative;
    display: inline-block;
    width: 75%;
    width: 100%;
    float: left;

    .response-box {
      background-color: $blue;
      color: $white;
      text-align: center;
      padding: $pad;
      border-radius: .5rem;
      display: inline-block;
      width: 100%;
      margin: 1%;
      float: left;
      min-height: auto;
      transform: translateY(50%);
      position: relative;

      h2,
      p {
        color: $white;
      }

      @media (min-width: $smallBreakpoint) {
        width: 23%;
        padding: $pad * 2;
        min-height: 12rem;
      }

    }

    .response-count--0 {
      background-color: transparent;
      transform: translateY(0%);

    }

    .response-count--1 {
      background-color: $blue;

    }

    .response-count--2 {
      background-color: $grey--light;
    }

    .response-count--3 {
      background-color: $grey--medium;
    }

  }
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.donut-chart {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto 2rem;
  border-radius: 100%
}

p.center {
  background: #394264;
  position: absolute;
  text-align: center;
  font-size: 28px;
  top:0;left:0;bottom:0;right:0;
  width: 130px;
  height: 130px;
  margin: auto;
  border-radius: 50%;
  line-height: 35px;
  padding: 15% 0 0;
}


.portion-block {
  border-radius: 50%;
  clip: rect(0, 200px, 200px, 100px);
  height: 100%;
  position: absolute;
  width: 100%;
}
.circle {
  border-radius: 50%;
  clip: rect(0, 100px, 200px, 0);
  height: 100%;
  position: absolute;
  width: 100%;
  font-family: monospace;
  font-size: 1.5rem;
}


#part1 {
  transform: rotate(0deg);
}

#part1 .circle {
  background-color: #E64C65;
  transform: rotate(180deg);

}


#part2 {
  transform: rotate(180deg);

}
#part2 .circle {
  background-color: #11A8AB;
  transform: rotate(150deg);

}
#part3 {
  transform: rotate(250deg);
}
#part3 .circle {
  background-color: #4FC4F6;
  transform: rotate(111deg);

}

#part4 {
  transform: rotate(250deg);
}
#part4 .circle {
  background-color: #4FC4F6;
  transform: rotate(111deg);

}