// response-box styles

.response {
  &__chart {
    position: relative;
    display: inline-block;
    width: 100%;
    float: left;
    text-align: center;

    @media (min-width: $smallBreakpoint) {
      width: 25%;
    }
  }

  &__responses {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -20px 0 0 -20px;
    width: calc(100% + 20px);

    .response-box {
      background-color: $blue;
      color: $white;
      text-align: center;
      padding: $pad;
      min-height: auto;
      position: relative;
      min-height: 152px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 20px);
      flex: 0 0 calc(100% - 20px);
      margin: 20px 0 0 20px;

      h2,
      p {
        color: $white;
      }

      h2 {
        font-weight: 300;
        margin-bottom: 0;
        font-size: 48px;
      }

      p {
        margin: 0;
        @extend .body1;
      }

      @media (min-width: $smallBreakpoint) {
        padding: $pad;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 20px);
        flex: 0 0 calc(50% - 20px);
      }

      @media (min-width: $mediumBreakpoint) {
        padding: $pad;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(33.333333333% - 20px);
        flex: 0 0 calc(33.333333333% - 20px);
      }

      @media (min-width: $largeBreakpoint) {
        padding: $pad;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(25% - 20px);
        flex: 0 0 calc(25% - 20px);
      }
    }

    &.total--1 {
      & > div {
        @media (min-width: $smallBreakpoint) {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 480px;
          flex: 0 0 480px;
        }
      }
    }

    &.total--2 {
      & > div {
        @media (min-width: $smallBreakpoint) {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 calc(50% - 20px);
          flex: 0 0 calc(50% - 20px);
          max-width: 480px;
        }
      }
    }

    &.total--3 {
      & > div {
        @media (min-width: $smallBreakpoint) {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 calc(33.333333333% - 20px);
          flex: 0 0 calc(33.333333333% - 20px);
          max-width: auto;
        }
      }
    }

    .response-count--1 {
      background-color: $blue;
    }

    .response-count--2,
    .response-count--5,
    .response-count--9 {
      background-color: #929292;
    }

    .response-count--3,
    .response-count--6,
    .response-count--10 {
      background-color: #808080;
    }

    .response-count--4,
    .response-count--8 {
      background-color: #707070;
    }
  }
}

.donut-chart {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto 2rem;
  border-radius: 100%
}

p.center {
  background: #394264;
  position: absolute;
  text-align: center;
  font-size: 28px;
  top:0;left:0;bottom:0;right:0;
  width: 130px;
  height: 130px;
  margin: auto;
  border-radius: 50%;
  line-height: 35px;
  padding: 15% 0 0;
}


.portion-block {
  border-radius: 50%;
  clip: rect(0, 200px, 200px, 100px);
  height: 100%;
  position: absolute;
  width: 100%;
}
.circle {
  border-radius: 50%;
  clip: rect(0, 100px, 200px, 0);
  height: 100%;
  position: absolute;
  width: 100%;
  font-family: monospace;
  font-size: 1.5rem;
}


#part1 {
  transform: rotate(0deg);
}

#part1 .circle {
  background-color: #E64C65;
  transform: rotate(180deg);

}


#part2 {
  transform: rotate(180deg);

}
#part2 .circle {
  background-color: #11A8AB;
  transform: rotate(150deg);

}
#part3 {
  transform: rotate(250deg);
}
#part3 .circle {
  background-color: #4FC4F6;
  transform: rotate(111deg);

}

#part4 {
  transform: rotate(250deg);
}
#part4 .circle {
  background-color: #4FC4F6;
  transform: rotate(111deg);

}