// Table styles
.snackbar {
  background: pds-type-weight($pds-type-color-primary, 'dark', 'high');
  color: $white;
  position: fixed;
  bottom: $pad * 1.5;
  left: $pad;
  padding: $pad;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  width: auto;
  min-width: 480px;
  display: none;
  z-index: 9999;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2), 0 1px 18px rgba(0, 0, 0, 0.12), 0 6px 10px rgba(0, 0, 0, 0.14);

  &--active {
    display: block;
  }
}