// Table styles
table {
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;
  border: none;
  border-collapse: collapse;
  white-space: nowrap;

  tr {
    border-bottom: 1px solid lighten(pds-type-weight($pds-type-color-primary, 'dark', 'light'), 65%);

    &:first-child {
      border-top: 1px solid lighten(pds-type-weight($pds-type-color-primary, 'dark', 'light'), 65%);
    }

    &:hover {
      background-color: rgba($blue, 5%);
    }

    &:focus {
      background-color: rgba($blue, 12%);
    }

    &.clickable {
      cursor: pointer;
    }

    td {
      padding: $pad;

      color: pds-type-weight($pds-type-color-primary, 'dark', 'medium');
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      @extend .body1;

      a {
        text-decoration: none;
        color: pds-type-weight($pds-type-color-primary, 'dark', 'high');
      }
    }
  }
}

@include mq(S, 'max-width') {

  table,
  thead,
  tbody,
  tr {
    // display: block;
  }

  table {
    margin-bottom: $pad;
  }

  tr {
    padding: $pad / 2 0;
    min-height: $pad * 4.575;
    display: block;
  }

  td {
    padding: 0 !important;

    &:nth-child(1) {
      display: inline-block;
      width: 65%;
      display: block;
      float: left;
    }

    &:nth-child(2) {
      display: inline-block;
      width: 34%;
      display: block;
      float: left;
    }

    &:nth-child(2) {
      text-align: right;
    }

    &:nth-child(3),
    &:nth-child(4) {
      display: block;
      width: 65%;
      float: left;
      text-align: left;
    }
  }
}