.tile {
  background: pds-color($pds-color-primary, '600');
  display: inline-block;
  padding: $pad;
  text-decoration: none;
  color: pds-color($pds-color-primary, '50');
  min-width: $pad * 21;
  border-radius: 4px;
  margin: $pad;

  span {
    display: block;
  }

  h2 {
    margin-top: 0;
    color: pds-color($pds-color-primary, '50');
    font-weight: 200;
  }

  p {
    color: $white;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__icons {
    color: pds-color($pds-color-secondary, '500');

    i {
      color: pds-color($pds-color-secondary, '500');
      z-index: 5;
      position: relative;

      &::after {
        content: ' ';
        background-color: $white;
        border-radius: 50%;
        position: absolute;
        width: 18px;
        height: 18px;
        z-index: -1;
        left: 3px;
        top: 3px;
      }
    }
  }

  &__title {
    display: flex !important;
    align-items: stretch;
    justify-content: space-between;
  }
}