// Footer Styles
footer,
.footer {
  justify-content: space-between;
  align-items: center;
  // display: none;

  @include mq(S) {
    display: flex;
  }

  img {
    padding: 0 $pad * 3.5;

    // &:first-child  {
    //   padding-left: 0;
    // }

    // &:last-child {
    //   padding-right: 0;
    // }
  }




}

.app-footer {
  @extend .body2;

  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  flex-shrink: 0;
  background-color: $pds-color-background;
  color: pds-type-weight($pds-type-color-primary, 'dark', 'high');
  padding: $pad;
  width: 100%;
  border-top: 1px solid $grey;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2), 0 4px 5px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.14);


  & .separator {

    padding: 0;
    margin: 0 4px;
    position: relative;
    top: -1px;

    &::before {
      content: '|'
    }
  }

  &__content {
    display: flex;
    width: 100%;

    & .dev-link {
      margin-left: auto;

      &::before {
        content: '';
        margin-left: $pad;
      }
    }
  }



  &.compose-message {
    bottom: 0;
    position: sticky;
    padding: 0;
    display: block;





    @include mq(S) {
      padding: $pad;
    }

    .container {
      padding: 0;

      @include mq(S) {
        padding: inherit;
      }
    }

    label,
    .file-upload-btn,
    {
      display: none;

      @include mq(S) {
        display: block;
        width: 100%;
      }
    }


  }
}


