// Footer Styles
footer,
.footer {
  justify-content: space-between;
  align-items: center;
  display: none;

  @include mq(S) {
    display: flex;
  }
}

.app-footer {
  @extend .body1;

  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  flex-shrink: 0;
  background-color: lighten(pds-color($pds-color-primary, '50'), 1%);
  color: pds-type-weight($pds-type-color-primary, 'dark', 'high');
  padding: $pad;
  width: 100%;
  border-top: 1px solid $grey;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2), 0 4px 5px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.14);
}