// Header Styles
header,
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
  flex-shrink: 0;
  flex-wrap: wrap;

  h4 {
        color: pds-color($pds-color-primary, '600');
        font-weight: 300;
    }

  .overline {
    color: $pds-type-color-primary;
  }

  ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    align-self: flex-start;
  }
}

.app-header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  position: sticky;
  top: 0;
  background-color: pds-color($pds-color-primary, '500');
  color: $white;
  color: $pds-type-color-primary;
  padding: 0;
  z-index: 11;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2), 0 4px 5px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.14);
  line-height: 3.75rem;;

  @include mq(P) {
    background-color: $pds-color-print-background;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }  

  @include mq(S) {
    padding: 0 $pad;
  }

  &__logo {

    @extend h4;

    text-transform: uppercase;
    color: $white;
    text-decoration: none;
    margin: 0;
    padding: 0 $pad;
    display: inline-block;
    line-height: inherit;
    position: relative;
    top: -3px;

    @include mq(S) {
      padding: 0 0;
    }

    // Courier
    &--courier {
      text-indent: -7000px;
      background-image: url(/dist/img/logo.svg);
      background-repeat: no-repeat;
      background-position: left center;
      width: 139px;
      padding: 0;

      @include mq(S, 'max-width') {
       margin-left: $pad;
       background-size: 80%;
      }
    }
  }

  &__title {
    @extend h3;

    text-transform: uppercase;
    color: $white;
    text-decoration: none;
    margin: .2rem $pad;
    display: none;
  }
}

.page-header,
.side-header {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: header;
  width: 100%;
  padding: 0;
  margin-bottom: $pad;
  min-height: 3rem;
  align-items: baseline;
  

  & + section {
    padding-top: 0;
  }

  @include mq(S, 'max-width') {
    display: none;

    .message-detail & {
      display: flex;
      padding: $pad $pad 0;

      .material-icons {
        display: none;
      }
    }

    .grid--compact &,
    .contact-index & {

      position: fixed;
      top: 0;
      z-index: 9990;
      background-color: pds-color($pds-color-primary, '500');
      display: flex;

      h4,
      .h4,
      .h4  {
        margin: 0;
        padding: .7rem 1rem;
        color: $white;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.15px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .h4 a {
        padding: 0;
        color: $white;
        margin-left: -.5rem;
        margin-right: .5rem;
        line-height: 24px;
        font-size: 24px;
      }

      h5,
      ul,
      button,
      form {
        margin-right: 0rem;

      }

      button {
        color: $white;
      }
    }
  }

  @include mq(S) {
    padding: 0 $pad;
    display: flex;
    position: relative;
    z-index: 3;
    background-color: transparent;

    .message-detail & {
      padding: 0 $pad;
    }

    .material-icons {
      display: none;

      .message-detail & {
        display: flex;
      }
    }

    h4,
    .h4 {
      color: pds-type-weight($pds-type-color-primary, 'dark', 'high');

      .material-icons {
        margin-left: -10px
    }
    }
  }

  h5,
  ul,
  button,
  form {
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
      margin-left: 1rem;
    }
  }

  h5 + button {
    margin-bottom: $pad ;
  }
}

.page-header {
  .h4 {
    margin-bottom: 0;
  }
}