// Nav Styles
.navigation {
  padding: 0;

  @include grid-column(2, 14);

  @media (min-width: $smallBreakpoint) {
    padding: 0;
  }
}

.nav {
  @extend .cf;
  list-style-type: none;
  padding: 0;
  margin: 0;

  a {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &:active {
      text-decoration: none;
    }
  }

  li {
    list-style: none;
  }

  &__item {

    color: $white;
    padding: $pad / 2 $pad;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;

    @media (min-width: $smallBreakpoint) {
      padding: $pad;
    }

    &:hover {
      text-decoration: none;
      background-color: rgba($white, 0.1);
      border-bottom-color: rgba($white, 0.1);

      a {
        text-decoration: none;
        background-color: rgba($white, 0.1);
        border-bottom-color: rgba($white, 0.1);
      }
    }

    a {
      color: $white;
    }

    &--active {
      color: $white;
      background-color: rgba($white, 0.1);
      border-bottom-color: $white;

      a {
        color: $white;
      }

      &:hover {
        border-bottom-color: $white;
      }

    }

    &--first {
      margin-left: 0;
    }

    &--last {
      margin-right: 0;
    }
  }

  &--horizontal {

    li {
      // float: left;
      padding-left: 0;
    }

    a {
      display: block;
    }

  }


  &--vertical {

    li {
      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      display: inline-block;

    }
  }

  &__toggle {
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    display: inline-block;
    padding: 0;
    vertical-align: top;
    @extend .material-icons;
    display: inline-block;
      width: 1.875rem;
      height: 1.875rem;
      // vertical-align: middle;

    @include font-size(1.875);


    // display: none;


    @media (min-width: $smallBreakpoint) {
      display: none;
    }

    &.icon {



      // content: "";
      // background: no-repeat center center;
      // background-size: 100% 100%;
      // background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 8V6H21V8H3ZM3 13H21V11H3V13ZM3 18H21V16H3V18Z' fill='white' fill-opacity='1'/%3E%3C/svg%3E%0A");





      &--menu {
        &:before {
          content: 'menu';
        }
      }

      &--add {
        &:before {
          content: 'add';
        }
      }
    }
  }
}

nav {
  @media (max-width: $smallBreakpoint) {
    width: 100%;
  }
}

.primary {
  // display: none;
  display: block;

  // @media (min-width: $smallBreakpoint) {
    display: flex;

    @media (max-width: $smallBreakpoint) {
      display: flex;
      flex-direction: row;
    }



    li {
      @media (max-width: $smallBreakpoint) {
        flex-grow: 1;
        flex-basis: 0;
        text-align: center;
      }
    }
  }



  .search {
    display: none;


    @media (min-width: $smallBreakpoint) {
      display: block;
    }



    &.menu--active {
      display: inline-block;
      position: fixed;
      margin: 0;
      padding: 0;
      overflow: auto;
      background-color: $white;
      color: $black;
      right: 0;
    top: 0;
    box-shadow: none;
    left: 0;

      form {
        width: 100%;
        margin: 0;
      }

      input {
        border: none;
        min-height: 3.1rem;
        padding-top: .9rem;

      }
    }
  }


  .menu {
    display: none;

    right: $pad;
    top: $pad;

    @media (min-width: $smallBreakpoint) {
      display: block;
    }


    &--active {
      display: inline-block;
      position: absolute;
      margin: 0;
      padding: 0;
      overflow: auto;
      background-color: $white;
      color: $black;
      box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    }
  }

  .list {
    margin: 0 !important;
    margin-left: 0;
    display: block;

    padding: $pad / 2 0;
    list-style-type: none;

    .button {
      color: $black;
      text-transform: none;
      letter-spacing: 0;
    }


    &--item {
      display: -ms-flexbox;
      display: flex;
      position: relative;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: start;
      justify-content: flex-start;
      padding: $pad / 2 $pad;
      overflow: hidden;

      &:hover,
      &:focus {
        background-color: rgba($grey--light, 0.12);
        border-color: transparent;
      }

      @extend .body1;

      a {
        &:hover {
          border-color: transparent;
        }
      }
    }



  }

