// Nav Styles
.navigation {
  @include grid-column(2, 14);

  padding: 0;

  @include mq(S) {
    padding: 0;
  }
}

.nav {
  @extend .cf;

  list-style-type: none;
  padding: 0;
  margin: 0;

  a {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &:active {
      text-decoration: none;
    }
  }

  li {
    list-style: none;
  }

  &__item {
    color: $white;
    padding: $pad / 2 $pad;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;

    @include mq(S) {
      padding: $pad;
    }

    &:hover {
      text-decoration: none;
      background-color: rgba($white, 0.1);
      border-bottom-color: rgba($white, 0.1);

      a {
        text-decoration: none;
        background-color: rgba($white, 0.1);
        border-bottom-color: rgba($white, 0.1);
      }
    }

    a {
      color: $white;
    }

    &--active {
      color: $white;
      background-color: rgba($white, 0.1);
      border-bottom-color: $white;

      a {
        color: $white;
      }

      &:hover {
        border-bottom-color: $white;
      }

    }

    &--first {
      margin-left: 0;
    }

    &--last {
      margin-right: 0;
    }
  }

  &--horizontal {

    li {
      padding-left: 0;
    }

    a {
      display: block;
    }
  }

  &--vertical {

    li {
      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      display: inline-block;
    }
  }

  &__toggle {
    @extend .material-icons;
    @include font-size(1.875);

    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0;
    vertical-align: top;
    width: 1.875rem;
    height: 1.875rem;

    @include mq(S) {
      display: none;
    }

    &.icon {
      &--menu {
        &::before {
          content: 'menu';
        }
      }

      &--add {
        &::before {
          content: 'add';
        }
      }
    }
  }
}

nav {
  @include mq(S, 'max-width') {
    width: 100%;
  }
}

.primary {
  display: flex;

  @include mq(S, 'max-width') {
    display: flex;
    flex-direction: row;
  }

  li {
    @include mq(S, 'max-width') {
      flex-grow: 1;
      flex-basis: 0;
      text-align: center;
    }
  }
}

.search {
  display: none;

  @include mq(S) {
    display: block;
  }

  &.menu--active {
    display: inline-block;
    position: fixed;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: $white;
    color: pds-type-weight($pds-type-color-primary, 'dark', 'high');
    right: 0;
    top: 0;
    box-shadow: none;
    left: 0;

    form {
      width: 100%;
      margin: 0;
    }

    input {
      border: none;
      min-height: 3.1rem;
      padding-top: .9rem;

    }
  }
}

.menu {
  display: none;
  right: $pad;
  top: $pad;

  @include mq(S) {
    display: block;
  }

  &--active {
    display: inline-block;
    position: absolute;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: $white;
    color: pds-type-weight($pds-type-color-primary, 'dark', 'high');
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
  }
}

.list {
  margin: 0 !important;
  margin-left: 0;
  display: block;

  padding: $pad / 2 0;
  list-style-type: none;

  .button {
    color: pds-type-weight($pds-type-color-primary, 'dark', 'high');
    text-transform: none;
    letter-spacing: 0;
  }

  &--item {
    @extend .body1;

    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: $pad / 2 $pad;
    overflow: hidden;

    &:hover,
    &:focus {
      background-color: rgba($grey--light, 0.12);
      border-color: transparent;
    }

    form {
      margin: 0 !important;

      button {
        margin: 0 .25rem !important;
        color: pds-type-weight($pds-type-color-primary, 'dark', 'high') !important;
      }
    }

    a {
      &:hover {
        border-color: transparent;
      }
    }
  }
}