html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $pds-color-background;
  height: 100%;

  * {
    box-sizing: inherit;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

  @include mq(P) {
    background-color: $pds-color-print-background;
  }
}

html.print-formatted {
  background-color: $pds-color-print-background;
}

