.textual {
    @extend .body2;
    color: #000;

    header + section {
        margin-top: -$pad;
    }

    h2 {
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0.25px;
        margin: 0;

        & + p {
            margin-top: 0;
        }
    }
}

.terms-and-conditions {
    @extend .textual;
}
