 @charset 'utf-8';

// Abstracts
@import "../styles";

.app-header {
    background-color: $pds-color-background;
    border: none;
    box-shadow: none;

    display: block;

    @include mq(S) {
            display: flex;
        }

    &__logo {
        color: $pds-type-color-primary;
        padding-top: $pad !important;

        @include mq(S) {

            padding-top: 0;
        }
    }

    ul {
        display: none;

        @include mq(S) {
            display: flex;
        }
    }

    h4 {
        text-align: left;
        padding: 0 $pad;

        @include mq(S) {
            text-align: center;
            padding: 0;
        }
    }
}

.nav__item {
    color: $pds-type-color-primary;

    &--active {
        color: $pds-type-color-primary;
    }
}

.app-footer {
    border: none;
    box-shadow: none;
}