$icon-font-family: "pds-icons" !default;
$icon-font-path: "/dist/fonts" !default;
$pds-icon-star-circle: "\e919";
$pds-icon-attach-file: "\e916";
$pds-icon-send: "\e917";
$pds-icon-star: "\e918";
$pds-icon-mailbox-empty: "\e913";
$pds-icon-mailbox-existing: "\e914";
$pds-icon-mailbox-new: "\e915";
$pds-icon-visibility-off: "\e911";
$pds-icon-visibility: "\e912";
$pds-icon-group-root: "\e900";
$pds-icon-error-triangle: "\e901";
$pds-icon-error-circle: "\e902";
$pds-icon-tick-circle: "\e903";
$pds-icon-info-circle: "\e904";
$pds-icon-remove-circle: "\e905";
$pds-icon-add: "\e906";
$pds-icon-arrow-drop-down: "\e907";
$pds-icon-arrow-drop-up: "\e908";
$pds-icon-arrow-right: "\e909";
$pds-icon-close: "\e90a";
$pds-icon-keyboard-arrow-left: "\e90b";
$pds-icon-keyboard-arrow-right: "\e90c";
$pds-icon-more-vertical: "\e90d";
$pds-icon-search: "\e90e";
$pds-icon-group-child: "\e90f";
$pds-icon-group-parent: "\e910";

@font-face {
  font-family: '#{$icon-font-family}';
  src:  url('#{$icon-font-path}/#{$icon-font-family}.eot');
  src:  url('#{$icon-font-path}/#{$icon-font-family}.eot#iefix') format('embedded-opentype'),
    url('#{$icon-font-path}/#{$icon-font-family}.ttf') format('truetype'),
    url('#{$icon-font-path}/#{$icon-font-family}.woff') format('woff'),
    url('#{$icon-font-path}/#{$icon-font-family}.svg##{$icon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.pds-icons {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  font-size: 24px;  /* Preferred icon size */
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  outline:none;

  &:hover,
  &:focus {
    outline: 0;
  }

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pds-icon-star-circle {
  &:before {
    content: $pds-icon-star-circle;
  }
}
.pds-icon-attach-file {
  &:before {
    content: $pds-icon-attach-file;
  }
}
.pds-icon-send {
  &:before {
    content: $pds-icon-send;
  }
}
.pds-icon-star {
  &:before {
    content: $pds-icon-star;
  }
}
.pds-icon-mailbox-empty {
  &:before {
    content: $pds-icon-mailbox-empty;
  }
}
.pds-icon-mailbox-existing {
  &:before {
    content: $pds-icon-mailbox-existing;
  }
}
.pds-icon-mailbox-new {
  &:before {
    content: $pds-icon-mailbox-new;
  }
}
.pds-icon-visibility-off {
  &:before {
    content: $pds-icon-visibility-off;
  }
}
.pds-icon-visibility {
  &:before {
    content: $pds-icon-visibility;
  }
}
.pds-icon-group-root {
  &::before {
    content: $pds-icon-group-root;
    color: #696969;
  }
}
.pds-icon-error-triangle {
  &::before {
    content: $pds-icon-error-triangle;
    color: #696969;
  }
}
.pds-icon-error-circle {
  &::before {
    content: $pds-icon-error-circle;
    color: #696969;
  }
}
.pds-icon-tick-circle {
  &::before {
    content: $pds-icon-tick-circle;
    color: #696969;
  }
}
.pds-icon-info-circle {
  &::before {
    content: $pds-icon-info-circle;
    color: #696969;
  }
}
.pds-icon-remove-circle {
  &::before {
    content: $pds-icon-remove-circle;
    color: #696969;
  }
}
.pds-icon-add {
  &::before {
    content: $pds-icon-add;
  }
}
.pds-icon-arrow-drop-down {
  &::before {
    content: $pds-icon-arrow-drop-down;
  }
}
.pds-icon-arrow-drop-up {
  &::before {
    content: $pds-icon-arrow-drop-up;
  }
}
.pds-icon-arrow-right {
  &::before {
    content: $pds-icon-arrow-right;
  }
}
.pds-icon-close {
  &::before {
    content: $pds-icon-close;
  }
}
.pds-icon-keyboard-arrow-left {
  &::before {
    content: $pds-icon-keyboard-arrow-left;
  }
}
.pds-icon-keyboard-arrow-right {
  &::before {
    content: $pds-icon-keyboard-arrow-right;
  }
}
.pds-icon-more-vertical {
  &::before {
    content: $pds-icon-more-vertical;
  }
}
.pds-icon-search {
  &::before {
    content: $pds-icon-search;
  }
}
.pds-icon-group-child {
  &::before {
    content: $pds-icon-group-child;
    color: #696969;
  }
}
.pds-icon-group-parent {
  &::before {
    content: $pds-icon-group-parent;
    color: #696969;
  }
}